# Ignore everything by default
*
!*/

# Don't ignore these folders
!mods/
!shaderpacks/
!resourcepacks/

# But DO ignore their subfolders and files (we only want the jar/zip files)
mods/*
!mods/*.jar
!mods/*.disabled

shaderpacks/*
!shaderpacks/*.zip
!shaderpacks/*.glsl

resourcepacks/*
!resourcepacks/*.zip

# packwiz pack (tracked metadata, not the raw jars it manages)
!packwiz-pack/
!packwiz-pack/*.toml
!packwiz-pack/mods/
!packwiz-pack/mods/*.toml
!packwiz-pack/mods/*.jar
!packwiz-pack/resourcepacks/
!packwiz-pack/resourcepacks/*.toml
!packwiz-pack/shaderpacks/
!packwiz-pack/shaderpacks/*.toml

# Also keep .gitignore itself
!.gitignore